.jumbotron{
    opacity: 0.7;
  }

/* body{
    background-image: url("../Image/fridayborns.jpg");
    background-attachment: fixed;
    color: black;
    background-size:cover;
    background-repeat: no-repeat;
    object-fit: cover;
  } */

 


